.container-addfriend {
  display: flex;
  flex-direction: column;
  gap: 90px;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background: var(--bg-primary);
}

.container-addfriend h3 {
  font-size: 25px;
  font-weight: 600;
}

.parent-div2{
  display: flex;
  justify-content: space-between;
  padding: 20px 6%;
  justify-content: center;
  align-items: center;  
  width: 100%;
}

.parent-div {
  display: flex;
  justify-content: space-between;
  padding: 0 6%;  
  width: 100%;
  overflow: hidden;

}

img {
  width: 35px;
  border-radius: 12px;
}

.cally {
  overflow-x: auto;
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 0;
}

.cally div {
  display: flex;
  height: 70px;
  margin: 25px 0 0 0;
  align-items: center;
  justify-content: center;
  padding: 15px 32px;
  gap: 50px;
  background-color: #e6e6e6;
  border-radius: 15px;
}
.cally button {
  display: flex;
  padding: 10px 55px;
  color: var(--bg-primary);
  background-color: var(--bg-secondary);
  border: none;
  border-radius: 8px;
  margin-bottom: 25px;
}

.josh {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
}
.con1 {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 30px;
}
.con1 button {
  display: flex;
  justify-content: center;
  padding: 10px 50px;
  width: 260px;
  color: var(--bg-primary);
  background-color: var(--bg-secondary);
  border: none;
  font-size: 20px;
  border-radius: 10px;
}
.con1 label input {
  display: flex;
  width: 260px;
  height: 47px;
  padding: 10px 24px;
  align-items: center;
  border-radius: 10px;
  border: none;
  border-radius: 10px;
  background: rgba(8, 72, 125, 0.2);
}

.con2 {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 30px;
}
.con2 button {
  display: flex;
  justify-content: center;
  padding: 10px 50px;
  width: 260px;
  color: var(--bg-color-2);
  font-weight: 600;
  background-color: transparent;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid #b699db;
}
.con2 a {
  text-decoration: none;
  color: black;
}
