body {
  background: url("../assets/Bg.jpeg");
  background-size: cover;
  width: 100%;
}

.password-main-container {
  background: var(--bg-primary);
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  width: 950px;
  max-width: 100%;
}

.password-container {
  display: flex;
  justify-content: space-between;
}

.password-container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.password-toggle-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px 30px 30px 25px;
  background: var(--bg-gradient-1);
  z-index: 1000;
  width: 50%;
}

.password-toggle-panel .write-up img {
  width: 35%;
  margin-bottom: 15px;
  margin-top: 5rem;
}

.password-toggle-panel .image {
  text-align: center;
}

.password-toggle-panel .image img {
  width: 80%;
  margin-top: 10px;
}

.password-toggle-panel .write-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.password-toggle-panel .write-up h2 {
  color: var(--bg-primary);
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
}

/* Password OTP Code */
.password-form-container {
  width: 50%;
  z-index: 1000;
}
.password-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-form-content .forget-text {
  display: flex;
  gap: 10px;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
}

.forget-text {
  margin-bottom: 50px;
}

.forget-text h1 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.change-password-input {
  display: flex;
  flex-direction: column;
}

.change-password-input input[type="password"] {
  max-width: 100%;
  width: 350px;
}

.password-form-content .submit {
  margin: 5rem 0 0 0;
}

.password-form-content .cancel {
  margin: 20px;
  background-color: var(--bg-primary);
  color: #000;
  border: 2px solid #08487d;
}
