body {
  background: url("../assets/Bg.jpeg");
  background-size: cover;
  width: 100%;
}

.password-main-container {
  background: var(--bg-primary);
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  width: 950px;
  max-width: 100%;
}

.password-container {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.password-container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.password-toggle-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px 30px 30px 25px;
  background: var(--bg-gradient-1);
  z-index: 1000;
  width: 50%;
}

.password-toggle-panel .write-up img {
  width: 35%;
  margin-bottom: 15px;
  margin-top: 5rem;
}

.password-toggle-panel .image {
  text-align: center;
}

.password-toggle-panel .image img {
  width: 80%;
  margin-top: 10px;
}

.password-toggle-panel .write-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.password-toggle-panel .write-up h2 {
  color: var(--bg-primary);
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
}

/* Password OTP Code */
.password-form-container{
    width: 50%;
    z-index: 1000;
}
.password-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-form-content .forget-text {
  display: flex;
  gap: 10px;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
}

.forget-text h1 {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.forget-text .icon img{
    width: 50%;
}

.text{
    width: 70%;
    margin-top: 20px;
}

.text p{
  color: rgba(16, 16, 16, 0.5);
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.box-icon{
    margin: 20px 0 10px 0;
}

.email-input{
    margin: 0 0 20px 0;
}

.email-input input[type="email"]{
    max-width: 100%;
    width: 300px;
}

.password-form-content button{
    margin: 10px 0;
}