.containerAddfriend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  max-width: 100%;
  width: 1050px;
  height: 635px;
  background: var(--bg-primary);
  border-radius: 35px;
  padding-bottom: 10px;
}

.containerAddfriend a {
  text-decoration: none;
}

.containerAddfriend h3 {
  font-size: 25px;
  font-weight: 600;
}

.parent-div2 {
  display: flex;
  padding: 20px 6%;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.parent-div {
  display: flex;
  justify-content: space-between;
  padding: 0 6%;
  width: 100%;
  overflow: hidden;
  height: 72%;
}

.cally {
  overflow-x: auto;
  scroll-behavior: smooth;
}

.cally div {
  display: flex;
  height: 70px;
  margin: 20px 0 0 0;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  gap: 40px;
  background-color: #e6e6e6;
  border-radius: 20px;
}
.cally button {
  display: flex;
  padding: 10px 55px;
  color: var(--bg-primary);
  background-color: var(--bg-secondary);
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.request-sent {
  background-color: rgba(8, 72, 125, 0.5);
  color: white;
  pointer-events: none; 
}

.josh {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.con1 {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 25px;
}

.con1 button {
  display: flex;
  justify-content: center;
  padding: 10px 50px;
  width: 260px;
  color: var(--bg-primary);
  background-color: var(--bg-secondary);
  border: none;
  font-size: 20px;
  border-radius: 10px;
}
.con1 label input {
  display: flex;
  width: 260px;
  height: 45px;
  padding: 10px 24px;
  align-items: center;
  border-radius: 10px;
  border: none;
  background: rgba(8, 72, 125, 0.2);
}

.con2 {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 15px;
}
.con2 img {
  width: 40%;
}
.con2 button {
  display: flex;
  justify-content: center;
  padding: 8px 50px;
  width: 230px;
  color: var(--bg-color-2);
  font-weight: 600;
  background-color: transparent;
  font-size: 20px;
  border-radius: 7px;
  border: 2px solid var(--bg-secondary);
  cursor: pointer;
}
.con2 .inactive {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 18px;
  opacity: 0.2;
  cursor: pointer;
}

.con2 .active {
  display: flex;
  justify-content: center;
  padding: 8px 50px;
  width: 230px;
  color: var(--bg-primary);
  font-weight: 600;
  background-color: var(--bg-secondary);
  font-size: 20px;
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 10px;
}
.userImg{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@media (min-width: 1440px){
  .containerAddfriend{
    width: 100%;
    height: 100vh;
  }
  .parent-div {
    display: flex;
    justify-content: space-between;
    padding: 0 6%;
    width: 100%;
    overflow: hidden;
    height: 80%;
  }
  .cally div {
    display: flex;
    height: 80px;
    /* width: 560px; */
    margin: 20px 0 0 0;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    gap: 40px;
    background-color: #e6e6e6;
    border-radius: 20px;
  }
  .con2 img{
    width: 80%;
  }
  .con1 label input{
    width: 360px;
    height: 65px;
  }
  .con1 button{
    width: 360px;
    height: 60px;
    align-items: center;
  }
  .con2 button{
    width: 360px;
    height: 60px;
    align-items: center;
  }
}