.container {
  background-color: var(--bg-primary);
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 920px;
  max-width: 100%;
  min-height: 625px;
}

.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 15px 0;
}

.container .forget-pswd {
  color: var(--bg-color-2);
  text-decoration: none;
  margin: 8px 0 20px;
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  width: 100%;
  cursor: pointer;
}

.container a {
  color: var(--bg-color-2);
  text-decoration: none;
  width: 75%;
}

.container button {
  border-radius: 10px;
  background: var(--bg-secondary);
  color: var(--bg-primary);
  margin-top: 10px;
  font-size: 12px;
  padding: 14px 56px;
  border: 1px solid transparent;
  width: 75%;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.container .google-btn {
  display: flex;
  padding: 12px 65px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: transparent;
  color: var(--bg-secondary);
  border-radius: 10px;
  border: 2px solid var(--bg-secondary);
}

.google-btn img {
  width: 15px;
}

.container form {
  background-color: var(--bg-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.container input {
  background: var(--bg-color-1);
  border: none;
  margin: 10px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
  opacity: 0.7;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.form-container .agree {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: 10px 0;
}

.form-container .terms {
  font-style: normal;
  font-size: 10px;
  display: flex;
  justify-self: flex-start;
}

.form-container .agree .checkBox {
  width: 13px;
}

.form-content {
  justify-content: center;
  align-content: center;
  height: 300px;
}

.sign-text {
  margin-bottom: 20px;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.sign-up h1 {
  margin: 15px 0;
}

.sign {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
  font-weight: 700;
  color: var(--bg-secondary);
  cursor: pointer;
}

.sign span {
  font-size: 15px;
  font-style: italic;
  font-weight: 700;
  margin: 10px 0;
}

.sign .line {
  margin: 20px 25px 0 25px;
  border-top: #1d1c1c 1px solid;
  width: 150px;
}

.container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 50px 0 0 50px;
  z-index: 1000;
}

.container.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 50px 50px 0;
}

.toggle {
  height: 100%;
  background: var(--bg-gradient-1);
  color: var(--bg-primary);
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.container.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right {
  transform: translateX(200%);
}

.toggle-panel .image img {
  width: 80%;
  margin-top: 10px;
}

.toggle-panel .write-up p {
  font-size: 20px;
  line-height: 1.2;
}

.toggle-panel .write-up img {
  width: 45%;
  margin-bottom: 5px;
}

.account {
  display: flex;
  width: 70%;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.account span {
  font-size: 13px;
}

@media (min-width: 1440px) {
  .container {
    width: 100%;
    height: 100vh;
  }
  .container button,
  .container .google-btn {
    width: 300px;
    height: 60px;
    font-size: 17px;
    margin-bottom: 25px;
  }
  .container a {
    width: 47%;
  }
  .container .agree {
    width: 65%;
    margin: 25px 0;
  }
  .container .terms {
    font-size: 15px;
  }
  .container .line {
    width: 250px;
    margin-top: 35px;
  }
  .sign span {
    font-size: 40px;
  }
  .container h1 {
    margin-bottom: 30px;
    font-size: 40px;
  }
  .container input {
    padding: 20px 15px;
    font-size: 18px;
  }
  .container p {
    font-size: 20px;
    margin: 35px 0;
  }
  .toggle-panel .write-up img {
    width: 80%;
    margin-bottom: 10px;
  }
  .toggle-panel .write-up p {
    font-size: 25px;
    line-height: 1.5;
  }
  .toggle-panel .image img {
    width: 100%;
    margin-top: 20px;
  }
  .account span {
    font-size: 17px;
  }
  .container .forget-pswd {
    font-size: 17px;
    margin: 10px 0 30px;
  }
  .container h2 {
    font-size: 35px;
  }
}

@media (max-width: 850px) {
  .container {
    width: 100%;
    height: 100vh;
  }
  .sign-up {
    position: absolute;
    left: -100%;
  }
  .toggle-container {
    display: none;
  }
  .form-container {
    width: 100%;
  }
  .container button,
  .container .google-btn {
    width: 300px;
    height: 50px;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .container a {
    width: 43%;
  }
  .container input {
    width: 85%;
  }
  .container .forget-pswd {
    width: 85%;
  }
  .container .line {
    width: 250px;
    margin-top: 35px;
  }
  .sign span {
    font-size: 30px;
  }
  .form-container .agree {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    height: 100vh;
  }
  .container form {
    height: 100%;
    padding: 0 10px;
  }
  .container input {
    width: 100%;
    height: 50px;
  }
  .container .forget-pswd {
    width: 95%;
  }
  .container button,
  .container .google-btn {
    width: 410px;
    height: 50px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .line {
    width: 100px;
    margin-top: 20px;
  }
  .sign span {
    font-size: 15px;
  }
  .container a {
    width: 100%;
  }
  .container .agree {
    width: 80%;
  }
  .container p {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .container form {
    height: 100%;
    padding: 0 10px;
  }
  .container button,
  .container .google-btn {
    width: 350px;
    height: 45px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container a {
    width: 100%;
  } 
}

@media (max-width: 320px) {
  .container form {
    height: 100%;
    padding: 0 10px;
  }
  .container a {
    width: 95%;
  }
  .container h1 {
    font-size: 20px;
  }
  .container button,
  .container .google-btn {
    width: 285px;
    height: 45px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .agree {
    width: 75%;
  }
  .form-container .terms {
    font-size: 7.5px;
  }
  .account {
    width: 100%;
  }
}