.password-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.password-form-content .forget-text {
  display: flex;
  gap: 10px;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
}

.forget-text h1 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.forget-text .icon img {
  width: 50%;
}

.text {
  width: 70%;
  margin-top: 20px;
}

.text p {
  color: #10101080;
  text-align: center;
  font-weight: 500;
}

.box-icon img {
  margin: 20px 0 10px 0;
  width: 60%;
}

.email-input input[type="email"] {
  display: flex;
  width: 355px;
  max-width: 100%;
  padding: 10px 24px;
  align-items: center;
  border-radius: 10px;
  border: none;
  background: #08487d33;
}

.password-form-content .submit {
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: center;
  padding: 8px 50px;
  width: 230px;
  color: var(--bg-primary);
  font-weight: 500;
  background-color: var(--bg-secondary);
  font-size: 17px;
  border-radius: 7px;
  cursor: pointer;
  border: none;
}

.password-form-container {
  width: 50%;
}

.password-main-container {
  background: var(--bg-primary);
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  width: 950px;
  max-width: 100%;
}

.password-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 82vh;
}

.password-toggle-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px 30px 30px 25px;
  background: var(--bg-gradient-1);
  width: 50%;
}

.password-toggle-panel .write-up img {
  width: 55%;
  margin-bottom: 25px;
  margin-top: 2rem;
}

.password-toggle-panel .image {
  display: flex;
  justify-content: center;
}

.password-toggle-panel .image img {
  width: 80%;
}

.password-toggle-panel .write-up {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-toggle-panel .write-up h2 {
  color: var(--bg-primary);
  font-size: 25px;
  font-weight: 500;
}

@media (min-width: 1440px) {
  .password-main-container {
    background: var(--bg-primary);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100vh;
  }
  .password-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  .password-form-content {
    height: 100%;
    justify-content: center;
  }
  .password-toggle-panel .image img {
    width: 100%;
  }
  .password-toggle-panel .write-up img {
    width: 100%;
  }
  .password-toggle-panel .write-up h2 {
    font-size: 30px;
  }
  .email-input input[type="email"] {
    height: 70px;
    width: 550px;
    margin-bottom: 15px;
  }
  .password-form-content .submit {
    height: 70px;
    width: 50%;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 15px;
  }
  .forget-text h1 {
    font-size: 30px;
  }
  .password-form-content .forget-text{
    margin-top: 0;
  }
}

@media (max-width: 770px){
  .password-toggle-panel{
    display: none;
  }
  .password-form-container{
    width: 100%;
  }
  .password-container{
    height: 100vh;
    width: 100%;
  }
  .password-form-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .change-password-input input[type="password"]{
    height: 70px;
    width: 550px;
    margin-bottom: 15px;
  }
}

@media (max-width: 430px){
  .password-form-content .forget-text{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .forget-text .icon{
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  .forget-text .icon img{
    width: 30px;
  }
  .password-toggle-panel{
    display: none;
  }
  .password-form-container{
    width: 100%;
  }
  .password-container{
    height: 100vh;
    width: 100%;
  }
  .password-form-content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .email-input input[type="email"]{
    height: 50px;
    width: 350px;
    margin-bottom: 15px;
  }
}

@media (max-width: 320px){
  .password-form-content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .email-input input[type="email"]{
    height: 50px;
    width: 290px;
    margin-bottom: 15px;
  } 
  .text{
    font-size: 12px;
  }
  .box-icon{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box-icon img{
    width: 35%;
  }
  .forget-text h1{
    font-size: 17px;
  }
}