@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root{
  --bg-gradient-1: var(
    --gradient,
    linear-gradient(
      90deg,
      rgba(32, 84, 101, 0.37) 3.85%,
      #2f86c6 44.03%,
      rgba(45, 153, 199, 0.74) 80.29%,
      rgba(46, 147, 199, 0.82) 85.11%,
      rgba(42, 183, 202, 0.74) 103.62%,
      rgba(11, 84, 152, 0.35) 120.54%
    )
  );
  --bg-gradient-2: linear-gradient(to left, #ddc3c3, #c9d6ff);
  --bg-primary: #fff;
  --bg-secondary: #08487d;
  --bg-color-1: #eee;
  --bg-color-2: #333;
  --link-color: #08487d;
}

body {
  background: url("https://res.cloudinary.com/duz7maquu/image/upload/v1716030523/SeeMe/Bg_kl39f3.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
}

@media (min-width: 1440px){
  body{
    display: block;
    background: none;
  }
}

@media (max-width: 850px){
  body{
    display: inline-block;
    background: none;
  }
}
